<!DOCTYPE html>
<html>
  <head>
    <title>BackSound - O melhor DJ é todo mundo</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'menu' %>
    <main role="main" class="backsound-wrapper container">
      <%= yield %>
    </main>  
  </body>
</html>
