<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">BackSound</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%= sobre_path %>">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= como_funciona_path %>">Como Funciona</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="<%= planos_path %>">Planos</a>
            </li>

<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="<%#= contato_path %>">Contato</a>-->
<!--            </li>-->

            <%- if (user_signed_in?) %>
              <li>
                <a class="nav-link" href="<%= user_path current_user %>"> Minha conta</a>
              </li>

            <% else %>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sua conta
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                  <a class="dropdown-item" href="<%= new_user_registration_path %>"> Cadastre-se </a>
                  <a class="dropdown-item" href="<%= new_user_session_path %>"> Fazer Login </a>
                </div>
              </li>
            <% end %>
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                Other Pages-->
<!--              </a>-->
<!--              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">-->
<!--                <a class="dropdown-item" href="full-width.html">Full Width Page</a>-->
<!--                <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>-->
<!--                <a class="dropdown-item" href="faq.html">FAQ</a>-->
<!--                <a class="dropdown-item" href="404.html">404</a>-->
<!--                <a class="dropdown-item" href="pricing.html">Pricing Table</a>-->
<!--              </div>-->
<!--            </li>-->
          </ul>
        </div>
      </div>
    </nav>