<div class="container">
      <h1 class="mt-4 mb-3">BackSound
        <small>O melhor DJ é todo mundo</small>
      </h1>

    <%= render partial: 'layouts/breadcrumb', locals: { current_title: "Sobre a BackSound", bread_home: '/' } %>

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="<%= image_url "gates_dj.jpg" %>" alt="">
          
        </div>
        <div class="col-lg-6">
          <h2> Crie playlists dinâmicas e colaborativas</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
        </div>
      </div>
      <!-- /.row -->

      <%- if (@featured.count > 0) %>
        <hr>
        <h3> Playlists em execução agora </h3>
        <hr>
      <%- end %>
      
      <div class="row">
        <%- @featured.each do |p| %>
          <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
              <%- if p.picture.attached? %>
                  <%= image_tag p.picture, class: "card-img-top", style: 'max-height: 220px' %>
              <% end %>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="<%= playlist_url p.id %>"> <%= p.name %> </a>
                </h4>
                <% if p.user.name %>
                  <p>
                    <small>por: <strong> <%= p.user.name %> </strong></small>
                  </p>
                  <% end %>
                <h6 class="card-subtitle mb-2 text-muted"> <%= p.description %></h6>
                <hr>
                <p class="card-text"><strong> Anúncio especial</strong>
                  <%= p.ad %>
                </p>
              </div>

              <%- if p.musics.count > 0 %>
              <div class="card-footer">
                <i>Tocando agora:</i> <br>
                <% if p.musics.first.uri.nil? %>
                  <a href="#"> <strong><%= "#{p.musics.first.artist}" %></strong><%= " - #{p.musics.first.name}" %> </a>
                <% else %>
                  <iframe src="https://embed.spotify.com/?uri=<%= p.musics.first.uri %>"
                          width="300" height="80" frameborder="0" allowtransparency="true"> </iframe>
              <% end %>
              </div>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>
  </div>