

<%= render partial: 'layouts/breadcrumb', locals: { current_title: 'Editar música' } %>

<div class="row">

  <div class="col-lg-3 mb-4"> <%= render partial: 'layouts/menu_admin' %> </div>

  <div class="col-lg-9 mb-4">
    <h3>Editar <%= @music.name %></h3>

    <%= render 'form', music: @music %>

    <%= link_to 'Ver', @music %> |
    <%= link_to 'Ver minhas músicas', musics_path %>
  </div>

</div>