<%= render partial: 'layouts/breadcrumb', locals: { current_title: "Minhas músicas / #{@music.name}" } %>

<div class="row">

  <div class="col-lg-3 mb-4"> <%= render partial: 'layouts/menu_admin' %> </div>

  <div class="col-lg-9 mb-4">

    <p id="notice"><%= notice %></p>
    <p>
      <strong>Artista:</strong>
      <%= @music.artist %>
    </p>

    <p>
      <strong>Música:</strong>
      <%= @music.name %>
    </p>

    <p>
      <strong>Album:</strong>
      <%= @music.album %>
    </p>

    <%= link_to 'Editar', edit_music_path(@music) %> |
    <%= link_to 'Voltar', musics_path %>

  </div>

</div>