<div class="container">
      <h1 class="mt-4 mb-3">BackSound
        <small>O melhor DJ é todo mundo</small>
      </h1>

    <%= render partial: 'layouts/breadcrumb', locals: { current_title: "Sobre a BackSound", bread_home: '/' } %>

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="<%= image_url "gates_dj.jpg" %>" alt="">
          
        </div>
        <div class="col-lg-6">
          <h2> Crie playlists dinâmicas e colaborativas</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
        </div>
      </div>
      <!-- /.row -->

      <h2> Tocando agora </h2>
      <div class="row">
        <%- @featured.each do |p| %>
          <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
              <%- if p.picture.attached? %>
                  <%= image_tag p.picture, class: "card-img-top" %>
              <% end %>
              <div class="card-body">
                <h4 class="card-title"><%= p.name %></h4>
                <h6 class="card-subtitle mb-2 text-muted"> <a href=""><%= p.description %></a> </h6>
                <hr>
                <p class="card-text"><strong> Anúncio especial</strong>
                  <%= p.ad %>
                </p>
              </div>
              <div class="card-footer">
                <i>Tocando agora:</i> <br>
                <a href="#">Jorge & Mateus - Mania</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>



<!--      <div class="row">-->

<!--        <div class="col-lg-4 mb-4">-->
<!--          <div class="card h-100 text-center">-->
<!--            <img class="card-img-top" src="<%#= image_url "abilio.jpg" %>" alt="">-->
<!--            <div class="card-body">-->
<!--              <h4 class="card-title">Buteco do Zé Abílio</h4>-->
<!--              <h6 class="card-subtitle mb-2 text-muted"> <a href="">Amigos do Zé</a> </h6>-->
<!--              <hr>-->
<!--              <p class="card-text"><strong> Mensagem do zé:</strong> "O cliente que chegar agora e adicionar 3 músicas que o pessoal gostar, ganha uma cerva hiper gelada de brinde!"</p>-->
<!--            </div>-->
<!--            <div class="card-footer">-->
<!--              <i>Tocando agora:</i> <br>-->
<!--              <a href="#">Jorge & Mateus - Mania</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-4 mb-4">-->
<!--          <div class="card h-100 text-center">-->
<!--            <img class="card-img-top" src="<%#= image_url "1008.jpg" %>" alt="">-->
<!--            <div class="card-body">-->
<!--              <h4 class="card-title">Carne de Sol 1008</h4>-->
<!--              <h6 class="card-subtitle mb-2 text-muted"> <a href="">Clientes 1008</a> </h6>-->
<!--              <hr>-->
<!--              <p class="card-text">Aos sábados, junte-se ao clube de rockeiros da cidade! Venha mandar um rock n roll conosco.-->
<!--                <br>Promoção especial de chopp</p>-->
<!--            </div>-->
<!--            <div class="card-footer">-->
<!--              <i>Tocando agora:</i> <br>-->
<!--              <a href="#">Engenheiros do Hawaii - Terra de Gigantes</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 mb-4">-->
<!--          <div class="card h-100 text-center">-->
<!--            <img class="card-img-top" src="<%#= image_url "brauhaus.jpg" %>" alt="">-->
<!--            <div class="card-body">-->
<!--              <h4 class="card-title">Brauhaus Brew Pub</h4>-->
<!--              <h6 class="card-subtitle mb-2 text-muted"> <a href="">Cerva & Rock 'n' Roll</a> </h6>-->
<!--              <hr>-->
<!--              <p class="card-text">-->
<!--                <strong> Mensagem do gerente bêbado:</strong>-->
<!--                O cabra que chegar aqui e colocar um metalzão pesado da minha preferida vai ganhar um chopp artesanal mais top-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="card-footer">-->
<!--              <i>Tocando agora:</i> <br>-->
<!--              <a href="#">Black Sabbath - Neon Knights</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
  </div>
