<%= form_with(model: playlist, local: true) do |form| %>
  <% if playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% playlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "Imagem de Capa" %>
    <%= form.file_field :picture %>
  </div>

  <% if playlist.picture.attached? %>
    <i><small>Imagem atual</small></i>
    <br>
    <%= image_tag playlist.picture %>
  <% end %>


  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :description, class: "form-control", rows: 3 %>
  </div>

  <div class="field">
    <%= form.label :anuncio %>
    <%= form.text_area :ad, class: "form-control", rows: 4, placeholder: "Aproveite esta área para fazer algum anúncio especial enquanto está rolando sua playlist" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: ["btn btn-primary"] %>
  </div>
<% end %>
