<%= render partial: 'layouts/breadcrumb', locals: { current_title: "Editando #{@playlist.name}" } %>

<div class="row">
    <!-- Sidebar Column -->
    <div class="col-lg-3 mb-4">
        <%= render partial: 'layouts/menu_admin' %>
    </div>
    <!-- Content Column -->
    <div class="col-lg-9 mb-4">      
      <h3>Edite sua Playlist</h3>

      <%= render 'form', playlist: @playlist %>

      <%= link_to 'Ver', @playlist, class: ["btn btn-info"] %> |
      <%= link_to 'Voltar', playlists_path, class: ["btn btn-light"] %>

    </div>
</div>