<%= render partial: 'layouts/breadcrumb', locals: { current_title: "Editando #{@playlist.name}" } %>

<div class="row">
    <!-- Sidebar Column -->
    <div class="col-lg-3 mb-4">
        <%= render partial: 'layouts/menu_admin' %>
    </div>
    <!-- Content Column -->
    <div class="col-lg-9 mb-4">      
      <h1>Editando Playlist</h1>

		<%= render 'form', playlist: @playlist %>

		<%= link_to 'Show', @playlist %> |
		<%= link_to 'Back', playlists_path %>
    </div>
</div>