<%= render partial: 'layouts/breadcrumb', locals: { current_title: 'Minhas playlists' } %>

<div class="row">
    <!-- Sidebar Column -->
    <div class="col-lg-3 mb-4">
        <%= render partial: 'layouts/menu_admin' %>
    </div>
    <!-- Content Column -->
    <div class="col-lg-9 mb-4">      
      <p id="notice"><%= notice %></p>

        <h1>Minhas Playlists</h1>

        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Picture</th>
              <th>Description</th>
              <th>Ad</th>
              <th>User</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @playlists.each do |playlist| %>
              <tr>
                <td><%= playlist.name %></td>
                <td><%= playlist.picture %></td>
                <td><%= playlist.description %></td>
                <td><%= playlist.ad %></td>
                <td><%= playlist.user.name %></td>
                <td><%= link_to 'Ver +', playlist %></td>
                <td><%= link_to 'Editar', edit_playlist_path(playlist) %></td>
                <td><%= link_to 'Deletar', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Playlist', new_playlist_path %>
    </div>
</div>
