<%= render partial: 'layouts/breadcrumb', locals: { current_title: "Playlist #{@playlist.name}" } %>

<div class="row">
    <!-- Sidebar Column -->
    <div class="col-lg-3 mb-4">
        <%= render partial: 'layouts/menu_admin' %>
    </div>
    <!-- Content Column -->
    <div class="col-lg-9 mb-4">      
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nome:</strong>
        <%= @playlist.name %>
      </p>

      <p>
        <strong>Imagem de Capa:</strong>
        <%= image_tag @playlist.picture %>
      </p>

      <p>
        <strong>Descrição:</strong>
        <%= @playlist.description %>
      </p>

      <p>
        <strong>Propaganda? <i><small>(opcional)</small></i></strong>
        <%= @playlist.ad %>
      </p>

      <p>
        <strong>Dono:</strong>
        <%= @playlist.user.email %>
      </p>

      <%= link_to 'Edit', edit_playlist_path(@playlist) %> |
      <%= link_to 'Back', playlists_path %>
    </div>
</div>