<%= render partial: 'layouts/breadcrumb', locals: { current_title: "Playlists / #{@playlist.name}" } %>

<div class="row">

    <% if user_signed_in? %>
      <div class="col-lg-3 mb-4">
        <%= render partial: 'layouts/menu_admin' %>
      </div>
    <% end %>

    <div class="col-lg-9 mb-4">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nome:</strong>
        <%= @playlist.name %>
      </p>

      <%- if @playlist.picture.attached? %>
        <p>
          <strong>Imagem de Capa:</strong> <br>
          <%= image_tag @playlist.picture, class: ["img-fluid rounded mx-auto img-thumbnail"], style: 'max-width: 220px'  %>
        </p>
      <% end %>

      <p>
        <strong>Descrição:</strong>
        <%= @playlist.description %>
      </p>

      <p>
        <strong>Propaganda? <i><small>(opcional)</small></i></strong>
        <%= @playlist.ad %>
      </p>

      <p>
        <strong>Dono:</strong>
        <%= @playlist.user.email %>
      </p>

      <p>
        <strong> Músicas desta playlist: </strong>
        <ul>
          <% @playlist.musics.each do |m| %>
            <li>
              <%= m.artist %> - <%= m.name %>
            </li>
          <% end %>
        </ul>
      </p>

      <% if user_signed_in? %>
        <%= link_to "Editar #{@playlist.name}", edit_playlist_path(@playlist), class: ["btn btn-primary btn-sm"] %>
        <%= link_to 'Voltar', playlists_path, class: ["btn btn-light"] %>
      <% end %>

    </div>
</div>