<%= render partial: 'layouts/breadcrumb', locals: { current_title: "Minhas Playlists / #{@playlist.name}" } %>

<div class="row">
    <div class="col-lg-3 mb-4">
        <%= render partial: 'layouts/menu_admin' %>
    </div>
    <div class="col-lg-9 mb-4">      
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nome:</strong>
        <%= @playlist.name %>
      </p>

      <%- if @playlist.picture.attached? %>
        <p>
          <strong>Imagem de Capa:</strong>
          <%= image_tag @playlist.picture %>
        </p>
      <% end %>

      <p>
        <strong>Descrição:</strong>
        <%= @playlist.description %>
      </p>

      <p>
        <strong>Propaganda? <i><small>(opcional)</small></i></strong>
        <%= @playlist.ad %>
      </p>

      <p>
        <strong>Dono:</strong>
        <%= @playlist.user.email %>
      </p>

      <p>
        <strong>Músicas desta playlist:</strong>
        <br>
        <% @playlist.musics.each do |m| %>
          <%= m.artist %> - 
          <%= m.name %> <br>
        <% end %>

      </p>

      <%= link_to "Editar #{@playlist.name}", edit_playlist_path(@playlist), class: ["btn btn-primary btn-sm"] %>
      <%= link_to 'Voltar', playlists_path, class: ["btn btn-light"] %>
    </div>
</div>