<%= render partial: 'layouts/breadcrumb', locals: { current_title: "Adicione músicas de #{@artist.name}" } %>

<div class="row">

  <div class="col-lg-3 mb-4"> <%= render partial: 'layouts/menu_admin' %> </div>

  <div class="col-lg-9 mb-4">
    <h3 class="page-header">Músicas de <%= @artist.name %></h3>
    <% @artist.albums(country: 'US').each do |album| %>
      <h5>Álbum: <%= album.name %></h5>
      <ul>
        <% album.tracks.each do |track| %>
          <li>
            <strong><%= track.name %></strong> | 
            <%= link_to "Adicionar", @music, remote: true, 
                method: :post,
                data: { params: { music: { artist: @artist.name, album: album.name, name: track.name, user_id: current_user.id} }.to_param } 
                %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>