<%= render partial: 'layouts/breadcrumb', locals: { current_title: "Playlists / #{@playlist.name}" } %>

<div class="row">

    <% if user_signed_in? %>
      <div class="col-lg-3 mb-4">
        <%= render partial: 'layouts/menu_admin' %>
      </div>
    <% end %>

    <div class="col-lg-9 mb-4">
      <p id="notice"><%= notice %></p>

      <% if is_playlist_owner @playlist  %>
        <p class="alert alert-info" role="alert">
          <strong> Token da sua playlist: </strong>
          <span class="badge-pill badge-info"><%= @playlist.token %></span>
        </p>
      <% end %>

      <div class="row">
        <%- if @playlist.picture.attached? %>
          <div class="col-lg-3">
            <%= image_tag @playlist.picture, class: ["img-fluid rounded mx-auto img-thumbnail"] %>
          </div>
        <% end %>
        <div class="col-lg-9">
          <h3> <%= @playlist.name %> </h3>
          <p> <small> <strong>Criada por:</strong> <i><%= @playlist.user.name %> </i> </small> </p>
          <p> <%= @playlist.description %> </p>
          <p>
            <strong> Dica do chefe </strong> <br>
            <%= @playlist.ad %>
          </p>
        </div>
      </div>

      <p>
      <hr>
        <strong> Músicas </strong>
        <ul>
          <% @playlist.musics.each do |m| %>
            <li>
              <%= m.artist %> - <%= m.name %>
            </li>
          <% end %>
        </ul>
      </p>

      <% if user_signed_in? %>
        <%= link_to "Editar #{@playlist.name}", edit_playlist_path(@playlist), class: ["btn btn-primary btn-sm"] %>
        <%= link_to 'Voltar', playlists_path, class: ["btn btn-light"] %>
      <% end %>

    </div>
</div>