<!DOCTYPE html>
<html>
  <head>
    <title>BackSound - <%= @slogan %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'home/menu' %>
    <main role="main" class="backsound-wrapper container">
      <%= yield %>
    </main>
    <footer class="py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BackSound 2018 - <%= @slogan %> </p>
      </div>
    </footer>
  </body>
</html>
